<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Add A Message</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<table border="1">
			<tr>
				<td><a href="/kenya/">Home</a></td>
				<td><a href="/kenya/demo/">List Clients</a></td>
				<td><a href="/kenya/add/">Add Client</a></td>
				<td><a href="/kenya/message/">Add Message</a></td>
			</tr>
		</table>
		<form action="/kenya/message/" method="post">
		<fieldset>
			<legend>Add Client</legend>
		
			<div>
				<strong>Client:</strong>		
				<select name="cid">
				{% for x in people %}
					<option value={{x.id}}>{{x.first_name}} {{x.last_name}}</option>
				{% endfor %}
				</select>
			</div>
			<div>
				<strong>User:</strong>					
					<select name="uid">
				{% for x in nurses %}
					<option value={{x.id}}>{{x.user.first_name}} {{x.user.last_name}}</option>
				{% endfor %}
				</select>
			</div>
			<div>
				<strong>Sent By:</strong>					
					<input type="radio" name="sentby" value="0">Client
					<input type="radio" name="sentby" value="1">Nurse 
			</div>
			<div>
				<strong>Date:</strong>					
					<input type="text" name="date" size="16" />
			</div>
			<div>
				<strong>Priority:</strong>					
					<input type="text" name="priority" size="16" />
			</div>
			<div>
				<strong>Message Content:</strong>
					<textarea rows="5" cols="100" name="content"></textarea>
			</div>
			<div>
				<input type="submit" value="Add" />
			</div>
		</fieldset>
		</form>
	</body>
</html>