*.swp
*.db
*.pyc
.*
*~
kenya/patients/fixtures
kenya/backend/fixtures
kenya/kenya/settings_local.py
kenya/patients/static/css/css_local.css
kenya/celerybeat-schedule
kenya/celery
kenya/celeryd.pid
kenya/python
kenya/ignore
kenya/patients/static/admin
