.errors {
    color: red;
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.errorlist li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.header-bar {
    width: 100%;
    background-color: rgb(120, 177, 189);
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: auto;
    overflow: auto;
    text-transform: uppercase;
}

.panel {
    float: right;
    margin-right: 0.5em;
}
