@import url("/static/css/css_local.css");
/* Full page styles */
body {
    font-family: sans-serif;
    background-color: rgb(73,113,118);
    border-style: solid;
    border-color: rgb(73, 113, 118);
    border-width: 2px;
}

input[type="text"] {
	width:180px;
}


textarea {
	resize: none;
}

.header-bar {
    background-color: rgb(120, 177, 189);
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 3px;
    font-family: Arial;
    font-weight: bold;
    height: 23px;
    text-transform: uppercase;
}

.header-bar .title {
    padding-left: 15px;
}

.header-bar .logout {
    float: right;
    margin-right: 0.5em;
    padding-top: 0px;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.header-bar button {
	position:relative;
	top:-2px;
}

.list_search {
    background-color: rgb(217,233,236);
    height: 32px;
}

#main_content {
	border-left-style: solid;
    border-top-style: solid;
    border-width: 2px;
    border-color: rgb(121, 121, 121);
    height: 635px;
    background-color: rgb(255,255,255);

}

#visit_history {
	overflow-y:auto;
	height: 635px;
}

.center_bar {
    background-color: rgb(212, 200, 156);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    color: rgb(51, 51, 51);
    padding-top:3px;
}

.center_bar .name_bar {
    display: inline;
}


.errors {
    color: red;
}

.collapseerrors ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.collapseerrors .errorlist li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.gray_button {
    background-color: rgb(159, 157, 150);
    color: rgb(255, 255, 255);
    padding: 2px 7px 2px 7px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    margin-right: 5px;
	cursor: pointer;
}

.message_bar {
	background-color: rgb(200, 200, 200);
	font-weight: bold;
    padding: 2px 7px 2px 7px;
    margin: 0px 5px 0px 5px;
}

.blue_button {
    background-color: rgb(91,141,147);
    color: rgb(255, 255, 255);
    padding: 2px 7px 2px 7px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    margin-right: 5px;
	cursor: pointer;
}

.cancel {
    background-position: center;
    width: 16px;
    height: 16px;
    background-image: url("/static/images/cancel.png");
    float: right;
}



/* End full page styles. */

/* Search bar styles */
.search_bar {
    border-top-style: solid;
    border-width: 2px;
    border-color: rgb(121, 121, 121);
    margin-right: -2px;
    padding-top: 4px;
}

.search_bar .search_icon {
	width: 20px;
    height: 20px;
    background-image: url('/static/images/search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:20px 20px;
    cursor:pointer;
    display:inline-block;
    margin-left: 10px;
}

.search_bar .search {
	width:150px;
	position:relative;
	top:-5px;
}

.search_bar .addbutton {
    float: right;
    width: 28px;
    height: 20px;
    background-image: url('/static/images/add_client.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

.search_bar #visit_history_button {
	float: right;
	width: 18px;
    height: 18px;
    background-image: url('/static/images/visits.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

.patient_bar {
    background-color: rgb(200, 200, 200);
    font-weight: bold;
    height: 20px;
    font-size: 9px;
}

.patient_bar span button {
	background-size:30px 30px;
	background-position:center 35%;
	height:20px;
	width:30px;
	padding:0px;
	margin:0px;
	border:1px solid black;
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
}

.patient_bar button.selected {
	background-color: rgb(217,233,236);
}

.patient_bar button:hover {
	background-color: rgb(91,141,147);
}

.patient_bar select {
	position:relative;
	font-size:10px;
}

.patient_bar #sort_direction {
	width: 15px;
    height: 15px;
    background-image: url('/static/images/sort.png');
    background-size:15px 15px;
    position:relative;
    display:inline-block;
    top:-3px;
    left:10px;
}

/*flip image based on direction*/
.patient_bar #sort_direction.asc {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/* End search bar styles */

/* Styles for the client list. */
#patient_list {
    height: 580px;
    background-color: rgb(217,233,236);
    overflow: auto;
}

#patient_list a {
	text-decoration:none;
	display:block;
}

.person .name div{
    display: inline;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
}


.person .icon-postpartum {
	position:absolute;
	left:0px;
	top:-6px;
}

.person .two_way>div, .patient_bar #two_way, .icon-two_way{
	    background-image: url("/static/images/patient-two_way-2.png");
}

.person .one_way>div, .patient_bar #one_way, .icon-one_way{
	    background-image: url("/static/images/patient-one_way-1.png");
}

.person .control>div, .patient_bar #control, .icon-control{
	    background-image: url("/static/images/patient-control-0.png");
}

.patient_bar #Post-Partum, .icon-postpartum {
	background-image:url("/static/images/postpartum.png");
}

.icon-postpartum, .icon-control, .icon-one_way, .icon-two_way {
	display:inline-block;
	width:20;
	height:20;
	background-position:center;
	position:relative;
	top:3px;
}

.list .person {
    padding: 5px;
    border-bottom: 1px dashed grey;
    color:rgb(1,1,1);
    position:relative;
}

.list .person:hover {
	background-color:rgb(120, 177, 189);
	cursor:pointer;
}

.list .selected {
	color: rgb(217,233,236);
	background-color: rgb(91,141,147);
}

.list .person_selected:hover {
	background-color: rgb(91,141,147);
}

.list .right {
	position:absolute;
    right:0px;
    top:0px;
    width: 50px;
    height:100%;
}

.list .right span {
	font-size:8pt;
	font-style:italic;
}

.list .right div {
	left:0px;
}

.list .left {
	font-size:9pt;
	position:relative;
}

.list .header {
    width: 100%;
}

.list .client_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    width:150px;
}

.list .client_id {
    display: inline;
    font-weight: bold;
    font-size:10px;
    position:relative;
    top:-3px;
}

.list .urgent {
    display: inline-block;
    position:relative;
    background-image: url("/static/images/urgent.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.list .pending {
    display: inline-block;
    position:relative;
    background-image: url("/static/images/pending_message.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 22px;
}
/* End styles for the client list. */

/* Styles for the add client pane */
div.add_client {
	overflow-y:auto;
	height:600px;
	position:realative;
}

#add_client_form>div {
	margin:5px 0px;
	display:inline-block;
	width:100%;
}

#add_client_form .form_section {
	border-bottom:2px solid black;
	width:90%;
	margin-left:20px;
	font-weight:bold;
	display:block;
}

span.form_info {
	font-style:italic;
	font-size:10pt;
}

fieldset {
	margin: 15px;
}

.form_column {
	display:inline-block;
	width:49%;
}

.form_column .form_label {
	margin-left:25px;
}

.form_column .form_input {
	margin-left:50px;
}
.form_row .form_label {
	margin-right:5px;
	display:inline-block;
	width:120px;
	text-align:right;
}

.form_row .form_input {
	display:inline-block;
}

div.add_client .errorlist {
	font-size:9pt;
	font-style:italic;
	margin:0px;
}

/* End styles for the add client pane */

/* Styles for Visit History */

#visit_history_form h2 {
	margin-left:100px;
}

#visit_history_form .next_visit {
	display:none;
}

/* End styles for Visit History */

/* Styles for the client details pane. */
.info {
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding-top: 3px;
    overflow: auto;
}

.info .header {
    background-color: rgb(208, 206, 196);
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    margin-right: 5px;
    height: auto;
    overflow: auto;
    background-position: 5px center;
    background-repeat: no-repeat;
}

.info_expanded {
    background-image: url("/static/images/expanded.png");
}

.info_collapsed {
    background-image: url("/static/images/collapsed.png");
}

.info table {
    background-color: rgb(245, 242, 231);
    margin-right: 5px;
}

.info tr {
    padding: 10px;
    height: 30px;
    margin-right: 5px;
}

.info td {
    vertical-align:middle;
    border-bottom: 1px dashed grey;
}

.info .content {
    width: 65%;
    font-size: 14px;
}

.info .comments {
	font-size: 14px;
}

.info .date {
    width: 25%;
    font-size: 12px;
    font-style: italic;
    color: rgb(102,102,102);
}

.info .title {
    width: 40%;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
}

.info .data {
    width: 60%;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.info .delete {
    width: 10%;
    text-align: center;
    font-size: 20px;
}

.info .edit {
    background-image: url("/static/images/gear.png");
}

.info .add {
    background-image: url("/static/images/plus.png");
}

.info .more_info {
    background-image: url("/static/images/info.png");
    padding-right:10px;
}

.info .add, .info .more_info, .info .edit {
	background-position: center;
    width: 16px;
    height: 16px;
    cursor:pointer;
    float:right;
    background-repeat:no-repeat;
}

.info .cancel {
    float: right;
}

.info #client_info_hide {
	display: none;
}

.info #notes_hide {
    display: none;
}

.info #visit_hide {
    display: none;
}

.info #add_visit {
	display:inline-block;
	margin:0px 10px;
	float:left;
}

.info #delivery {
	display:inline-block;
	margin:0px 10px;
	float:right;
}

#client_info_dialog table{
	border:1px solid black;
	border-collapse:collapse;
}

#client_info_dialog td, #client_info_dialog th {
	border:1px dashed black;
	padding:5px;
	font-size:9pt;
}

.msg_head {
	margin-top: 10px;
}
/* End styles for client details pane. */


/* Styles for the message page. */
.messages {
    background-color:rgb(255,255,255);
    height: 600px;
    padding-top: 3px;
}

.messages .send-to {
    padding: 5px 0px 0px 10px;
    text-transform: uppercase;
    white-space: nowrap;
}

.messages .Client, .messages .Nurse, .messages .System, .messages .Phone {
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 60%;
    clear: both;
    color: rgb(0,0,0);
    position:relative;
}

.messages .System, .messages .Nurse {
    float: right;
    margin-left: auto;
    text-align: right;
}

.messages .Client {
    background-color: rgb(171,198,202);
}

.messages .Client .icon{
    border-color: rgb(171,198,202);
}

.messages .Client .prompted {
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:9pt;
	font-style:italic;
}


.messages .System {
    background-color: rgb(214,214,214);
}

.messages .System .icon {
    border-color: rgb(214,214,214);
}

.messages .Nurse {
    background-color: rgb(207,200,172);
}

.messages .Nurse .icon {
    border-color: rgb(207,200,172);
}

.messages .Phone {
	background-color:#978f99;
}

.messages .Phone .icon {
	border-color:#978f99;
}

.messages .missed {
	background-color: rgb(198, 184, 190);
}

.messages .missed .icon {
	border-color: rgb(198, 184, 190);
}

.messages #change {
    margin-top: 55px;
}

.messages .message-list {
	margin: 0px 5px 0px 5px;
    height: 406px;
    overflow-y: scroll;
}

.message-list .top {
	margin-left:15px;
}

.message-list>div{
	word-wrap:break-word;
}

.message-list span.icon {
	display:inline-block;
	width: 20px;
	height: 20px;
	position:absolute;
	top:-5px;
	left:-5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:20px 20px;
	border:2px solid;
	border-radius:10px;
	background-color:white;
	padding:2px;
}

.message-list span.sms-icon {
	background-image: url("/static/images/message.png");
}

.message-list span.phone-icon {
	background-image: url("/static/images/call.png");
}

.message-list span.phone-missed {
	background-image: url("/static/images/call-missed.png");
}

.messages .Boxes {
    height: 120px;
    top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255,255,255);
}

.messages .phone-box, .messages .message-box {
	top: 50px; 
    left: 0px; 
    height: 130px;
    background-color: rgb(255,255,255); 
    overflow: hidden; 
    border-style: solid;
    width: 100%;
    padding-top: 5px;
    margin: -1px;
    border-width: 1px;
    border-color: rgb(121, 121, 121);
}

.messages .message-box {
    
}

.messages .phone-box .wrapper{
    height:25px;
}

.messages .phone-box .completion_checkbox {
	margin-left: 10px;
	vertical-align: middle;
	display: inline;
}

.messages .phone-box div.input {
	display: inline;
	margin-right: 10px;
}

.messages .phone-box input#duration{
	width:20px;
}

.messages .phone-box #initiated_box, .messages .phone-box #duration_box  {
	font-size:10pt;
	font-style:italic;
}

.messages .phone-box #initiated_box span {
	font-size:12pt;
	font-style:normal;
}

.messages .phone-box .phone-content {
}

#group-tabs .tab-content
{
	
    display:inline-block;
    width: 100%;
}

ul.tabs {
    width:250px;
    margin:0;
    padding:0;
}

ul.tabs li {
    display:block;
    float:left;
    padding:0 1px;
}

ul.tabs li a {
    display:block;
    float:left;
    padding:5px;
    font-size:0.8em;
    background-color:#e0e0e0;
    color:#666;
    text-decoration:none;
}

a.tab {
	margin-top: 5px;
	border-radius: 10px 10px 0px 0px;
	border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: rgb(121, 121, 121);
}

ul.tabs .selected {
	background-color: rgb(255,255,255);
	color:black;
}

.messages .envelopepic .tab {
	width: 60px;
	height: 20px;
	background-image: url("/static/images/message.png");
	background-repeat: no-repeat;
	background-position: center;

}

.messages .phonepic .tab {
	width: 60px;
	height: 20px;
	background-image: url("/static/images/call.png");
	background-repeat: no-repeat;
	background-position: center;
}

.messages .phonepic .selected {
	background-image: url("/static/images/call_large.png");
	width: 80px;
	height: 23px;
	margin-top:2px;
}

.messages .envelopepic .selected {
    background-image: url("/static/images/message_large.png");
    width: 80px;
	height: 23px;
	margin-top:2px;
}

.messages .message-view-select {
	float: right;
	position: relative;
	margin: -2px;
	vertical-align: middle;
}

.messages .download {
    font-size: 12px;
}

.messages .header {
    background-color: rgb(212,200,156);
    text-align: center;
    font-size: 20px;
}

.messages .content {
    text-align: left;
    font-size: 14px;
}

.messages .date {
    font-size: 10px;
    vertical-align: middle;
    float: right;
}

.messages .top {
    font-size:12px;
    text-align: left;
}

.messages .Client .content {
    font-size: 16px;
}

.messagetable {
    font-size: 12px;
    width: 395px;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgb(140,140,140);
    border-spacing: 0px;
}

.messagetable .light {
	background-color: rgb(214,214,214);
}

.messagetable .dark {
	background-color: rgb(169,169,169);
}

.messagetable th {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(140,140,140);
    background-color: rgb(214,214,214);
}

.messagetable td {
    padding: 0px 2px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(140,140,140);
    margin: 0px;
    
}

.messagetable .sender {
	white-space: nowrap;
	text-align: center;
}

.messagetable td .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}


/* End messages styles. */
