body
{
    background-color: rgb(217,233,236);
    background-image: url('/static/images/login_background.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    background-color: rgb(208, 206, 196);
    font-size: 24px;
    padding: 0.5em 0 0.5em 0;
    margin: 0 0 0.2em 0;
}

#container {
    background-color: rgb(245, 242, 231);
    border: 1px dashed grey;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
