<form id="add_call_form" method="post" action="/add_call/">
    {% csrf_token %}
    <table>
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}{% if field.errors %} <span class="errors"><span class="collapse">({{ field.errors }})</span></span>{% endif %}
                </td>
                <td>
                    <div>{{ field }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="errors">
        {{ form.non_field_errors }}
    </div>
</form>
