<table>
    <tr>
        <td class="title">ID number:</td>
        <td class="data">{{client.id}}</td>
    </tr>
    <tr>
        <td class="title">Name:</td>
        <td class="data">{{client.first_name}} {{client.last_name}}</td>
    </tr>
    <tr>
        <td class="title">Birthday:</td>
        <td class="data">{{client.birth_date}}</td>
    </tr>
    <tr>
        <td class="title">Phone Number:</td>
        <td class="data">{{client.phone_number}}</td>
    </tr>
    <tr>
        <td class="title">Pregnancy Status:</td>
        <td class="data">{{client.pregnancy_status}}</td>
    </tr>
    <tr>
        <td class="title">Expected Due Date:</td>
        <td class="data">{{client.due_date}}</td>
    </tr>
    
    <tr>
        <td class="title">Next Visit:</td>
        <td class="data">{{client.next_visit}}</td>
    </tr>
   
	{% if not client.validated %}
	 <tr>
		<td class="title">Registration Key:</td>
		<td class="data">{{client.generate_key}} <span style="font-size:10pt"><i>Not Validated</i></span></td>
	</tr>
	{% endif %}
</table>
