<div class="header msg_head info_expanded" id="profile">
    <span>Client Profile</span>
    <span id="edit" class="view_buttons">&nbsp;</span>
    <span class="edit_buttons" style="display:none;">
        <span id="cancel">&nbsp;</span>
        <span id="save">&nbsp;</span>
    </span>
</div>
<div id="client_fragment" class="msg_body">
    {{fragment}}
</div>

<div class="header msg_head info_expanded">
    <span>Notes</span>
    <span class="add"></span>
</div>
<div class="msg_body">
<table>
        <tr id="note" style="display:none;">
            <form id="add_note_form" method="post" action="/note/{{ client.id }}/">
                {% csrf_token %}
                <td colspan=2><textarea cols=24 rows=2 name="text" style="margin:5px;" />
                <td><div class="add_note">Add</div></td>
            </form>
        </tr>
    {% for note in notes %}
    <tr>
        <td class="content">{{note.content}}</td>
        <td class="date">{{note.date}}</td>
        <td class="delete" id="{{ note.pk }}">X</td>
    </tr>
    {% endfor %}
</table>
</div>


<div class="header msg_head info_expanded">
    <span>Clinic Visit History</span>
    <span id="visit" class="add"></span>
</div>
<div class="msg_body">
<table>
    {% for v in history %}
    <tr>
        <td class="status">{{v.status}}</td>
        <td class="date">{{v.date}}</td>
    </tr>
    {% endfor %}
</table>
</div>
