<html>
	<head>
		<title>{{client.first_name}} {{client.last_name}}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/details.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    $('#edit').click(function(eventObject) {
                        $('#client_fragment').load("/edit/{{ client.id }}/");
                        $('.view_buttons').hide();
                        $('.edit_buttons').show();
                    });
                    $('#save').click(function(eventObject) {
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/edit/{{ client.id }}/", false);
                        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                        xhr.send($('#edit_client').serialize());
                        var response = xhr.responseText;
                        if (response.length == 0) {
                            $('#client_fragment').load("/fragment/{{ client.id }}/");
                            $('.edit_buttons').hide();
                            $('.view_buttons').show();
                        } else {
                            $('#client_fragment').html(response);
                        }
                    });
                    $('#cancel').click(function(eventObject) {
                        $('#client_fragment').load('/fragment/{{ client.id }}/');
                        $('.edit_buttons').hide();
                        $('.view_buttons').show();
                    });
                });
            })(jQuery);
        </script>
	</head>
	<body>
		<div class="header">
            <span>Client Profile</span>
            <span style="text-align:right;">
                <button id="edit" class="view_buttons">Edit</button>
                <button id="save" class="edit_buttons" style="display:none;">Save</button>
                <button id="cancel" class="edit_buttons" style="display:none;">Cancel</button>
            </span>
        </div>
        <div id="client_fragment">
            {{fragment}}
        </div>
        
        <div class="header">Notes</div>
        <table>
        	{% for note in notes %}
        	<tr>
        		<td class="content">{{note.content}}</td>
        		<td class="date">{{note.date}}</td>
        		<td class="delete">X</td>
        	</tr>
        	{% endfor %}
        </table>
         <form method="get" action="/note/{{ client.id }}/">
        <input type="submit" value="Add Note">
        </form>
	</body>
</html>
