<html>
	<head>
		<title>{{client.first_name}} {{client.last_name}}</title>
	</head>
	<body>
		<table border="1">
			<tr>
				
				<td><a href="/message/">Add Message</a></td>
			</tr>
		</table>
		<table border="1">
			<tr>
				<th>Date</th>
				<th>Contact</th>
				<th>Sent by</th>
				<th>Content</th>
			</tr>
			{% for x in messages %}
			<tr>
				<td>{{x.date}}</td>
				<td>{{x.user_id}}</td>
				<td>{{x.sent_by}}</td>
				<td>{{x.content}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>