<html>
	<head>
		<title>{{client.first_name}} {{client.last_name}}</title>
	</head>
	<body>
		<table border="1">
			<tr>
			<!-- Replace this with message box -->
				<td><a href="/message/">Add Message</a></td>
			</tr>
		</table>
			{% for x in messages %}
				{% if x.sent_by == "Nurse" or x.sent_by == "System" %}
				<div style="float:right; display:inline; width:70%; clear:both;">{{x.date}} {{x.user_id}}: {{x.content}}</div>
				{% else %}
				<div style="float:left; display:inline; width:70%; clear:both;">{{x.date}} {{client}}: {{x.content}}</div>
				{% endif %}

			{% endfor %}
	</body>
</html>