{% load patient_tags %}

{%  if client %}
<div class="grid_12 center_bar">
	<div class="name_bar">{{client}}</div>
	<div id="time" class="download"></div>
	<!--<div class="download"><a href="/clientcsv/{{client.id}}/">Download</a></div>-->
</div>


<div class="grid_7 messages alpha">
	<div>
		<div id="tabs" class="Boxes">
			<ul class="tabs">
				<li class="envelopepic"><a href="#" class="defaulttab tab" rel="tabs-1"></a></li>
				<li class="phonepic"><a href="#" class="tab" rel="tabs-2"></a></li>
			</ul>
			<div class="phone-box tab-content" id="tabs-2">
				<form id="phone-box" method="post" action="">
				{% csrf_token %}
					<div class="phone-content"><textarea id="call_notes" cols=46 rows=3 style="margin:3px 10px 10px 10px;" placeholder="Enter Call Notes" name="text" value=""></textarea>
					</div>
					<div class="wrapper">
						<div class="completion_checkbox">Client answered<input id="complete" type="checkbox" name="completed" value="Completed"/>
						</div>
						<div class="duration">Duration: <input type="text" id="duration" name="duration" placeholder="In minutes"/>
						</div>
					</div>
					<div style="text-align;right;padding:0px 10px;">
						Call Reason: <select id="reason" name="reason">
							<option value="other">...</option>
							<option value="visit">Missed ANC Visit</option>
							<option value="sms">No SMS Response</option>
						</select>
						<span id="save_call" style="float:right;ma.rgin:0px 10px 5px 5px;font-size:16px;" class="blue_button">Save</span>
						<span id="clear_call" style="float:right;font-size:12px;" class="gray_button">Clear</span>
					</div>
				</form>
			</div>
			<div class="message-box tab-content" id="tabs-1">
				<form method="post" action="">
				{% csrf_token %}
					<div class="send-to">To: {{client.nickname}} (#{{client.id}})</div>
					<textarea id="message-box" cols=46 rows=3 style="margin:10px;" name="text" value="" placeholder="Send message"></textarea>
					<div style="text-align:right; padding-right:10px;">
						<span id="chars-left" style="font-style:italic;" >0/144 characters, 0 messages</span>
						<span id="send_message" style="float:right;margin:0px 10px 5px 5px;font-size:16px;" class="blue_button">Send</span>
					</div>
				</form>
			</div>
		</div>
		<div>
			<div id="change" class="message_bar">Message History<span class="message-view-select">
				<span class="download">Download</span>
					<select id="select_msg">
						<option value="conversation">Conversation</option>
						<option {% if list %} selected {% endif %} value="list">List</option>
					</select>
				</span>
			</div>
			<div class="message-list">
			{{ message_fragment }}
			</div>
		</div>
	</div>
</div>

<div class="grid_5 info omega">
	<div class="client-profile">
			<div class="header" id="profile">
			<span>Patient Information</span>
			<span id="client_info_edit" class="edit">&nbsp;</span>
			<span id="client_info_hide" class="cancel">&nbsp;</span>
			<span id="client_info_more" class="more_info">&nbsp;</span>
		</div>
		<div id="client_fragment" class="msg_body">
			{{client_fragment}}
		</div>
		
		<div id="client_info_dialog" title="Client Information: {{client.first_name}} {{client.last_name}} (#{{client.id}})">
			<table>
				<tr>
					<th>Study Group</th>
					<td>{{client.study_group|capfirst}}</td>
					</td>
					<th>Prefed Language</th>
					<td>{{client.language}}</td>
					<th>Phone Number</th>
					<td>{{client.phone_number}}</td>
				</tr>
				<tr>
					<th>Message Day</th>
					<td>{{client.send_day|dictlookup:'{"0":"Sunday","1":"Monday","2":"Tuesday","3":"Wednesday","4":"Thursday","5":"Friday","6":"Saturday"}'}}</td>
					<th>Message Time </th>
					<td>{{client.send_time}}:00</td>
					<th>Network</th>
					<td>{{client.phone_network}}</td>
				</tr>
				<tr>
					<th>Primary Contact</th>
					<td>{{client.pri_contact_name}}</td>
					<th>Secondary Contact</th>
					<td>{{client.sec_contact_name}}</td>
					<th>Relationship Status</th>
					<td>{{client.relationship_status}}</td>
				</tr>
				<tr>
					<th>Primary Contact #</th>
					<td>{{client.pri_contact_number}}</td>
					<th>Secondary Contact #</th>
					<td>{{client.sec_contact_number}}</td>
					<th>Partner Name</th>
					<td>{{client.partner_first_name}} {{client.partner_last_name}}</td>
				</tr>
			</table>
		</div>

		<div class="header msg_head info_expanded">
			<span>Notes</span>
			<span id="notes_add" class="add"></span>
			<span id="notes_hide" class="cancel"></span>
		</div>
		<div class="msg_body" id="notes">
			<table>
				<tr id="note" style="display:none;">
					<form id="add_note_form" method="post" action="/note/{{ client.id }}/">
						{% csrf_token %}
						<td colspan=2><textarea cols=24 rows=2 name="text" style="margin:5px;" />
						<td><div class="add_note gray_button">Add</div></td>
					</form>
				</tr>
				{% for note in notes %}
				<tr>
					<td class="content">{{note.content}}</td>
					<td class="date">{{note.date}}</td>
					<td class="delete" id="{{ note.pk }}"><span class="cancel" style="display: inline; "></span></td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<div class="header msg_head info_expanded">
			<span>Clinic Visit History</span>
			<span id="visit_add" class="add"></span>
			<span id="visit_hide" class="cancel"></span>
		</div>
		<div class="msg_body" id="visits">
			<table>
				<tr id="visit_form_container">
					<td colspan="3">{{ visit_form }}</td>
				</tr>
				{% for v in history %}
				<tr>
					<td class="comments">{{v.comments}}</td>
					<td class="date">{{v.date}}</td>
					<td class="delete" id="{{v.pk}}"><span class="cancel" style="display: inline; "></span></td>
				</tr>
				{% endfor %}
			</table>
			
			<div id="end-pregnacy" title="End Pregnacy">
				<table>
					{{end_pregnacy_form.as_table}}
				</table>
			</div>
			
		</div>
	</div>
</div>
{% endif %}
