<table>
    <form id="edit_client" method="post" action="/edit/{{form.instance.pk}}/">
        {% csrf_token %}
        <tr>
            <td class="title">ID number:</td>
            <td class="data">{{form.instance.id}}</td>
        </tr>
        <tr>
            <td class="title">First Name:</td>
            <td class="data">
                <div>{{form.first_name}}</div>
                <div class="collapseerrors">{{form.first_name.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Last Name:</td>
            <td class="data">
                <div>{{form.last_name}}</div>
                <div class="collapseerrors">{{form.last_name.errors}}</div></td>
        </tr>
        <tr>
            <td class="title">Birthday:</td>
            <td class="data">
                <div>{{form.birth_date}}</div>
                <div class="collapseerrors">{{form.birth_date.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Phone Number:</td>
            {% if form.instance.phone_number %}
                <td class="data">{{form.instance.phone_number}}</td>
            {% else %}
                <td class="data">Please have client send registration key</td>
            {% endif %}
        </tr>
        <tr>
            <td class="title">Location:</td>
            <td class="data">
                <div>{{form.location}}</div>
                <div class="collapseerrors">{{form.location.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Pregnancy Status:</td>
            <td class="data">
                <div>{{form.pregnancy_status}}</div>
                <div class="collapseerrors">{{form.pregnancy_status.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Expected Due Date:</td>
            <td class="data">
                <div>{{form.due_date}}</div>
                <div class="collapseerrors">{{form.due_date.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Conditions:</td>
            <td class="data">
                <div>{{form.conditions}}</div>
                <div class="collapseerrors">{{form.conditions.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Education:</td>
            <td class="data">
                <div>{{form.years_of_education}}</div>
                <div class="collapseerrors">{{form.years_of_education.errors}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">Registration Key:</td>
            <td class="data">{{form.instance.generate_key}}</td>
        </tr>
        {% if form.non_field_errors %}
            <tr>
                <td class="title" colspan="2" style="text-align:left;">{{ form.non_field_errors }}</td>
            </tr>
        {% endif %}
    </form>
</table>
