<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Add A Contact</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<table border="1">
			<tr>
				<td><a href="/kenya/">Home</a></td>
				<td><a href="/kenya/demo/">List Clients</a></td>
				<td><a href="/kenya/add/">Add Client</a></td>
				<td><a href="/kenya/message/">Add Message</a></td>
			</tr>
		</table>
		
		<form method="post" action="">
			<table>
				{{ form }}
			</table>
			<div>
				<input type="submit" value="Add" />
			</div>
		</form>
	</body>
</html>