<html>
<head>
    <title>Encouragement System</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.20.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/add.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $("#signup").dialog({
                    autoOpen: false,
                    modal: true,
                    minWidth: 350,
                    buttons: {
                        "Ok": function() {
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/add/", false);
                            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                            xhr.send($("#add_client_form").serialize());
                            var response = xhr.responseText;
                            if (response.length == 0) {
                                window.location.href = "/";
                            } else {
                                $("#add_client_form").html(response);
                            }
                        }
                    },
                    close: function(event, ui) {
                        $("#add_client_form").load("/add/");
                    }
                });
            });
        })(jQuery);
    </script>
</head>

<div>
<div class="header-bar">
    <span>Encouragement System</span>
    <span class="panel">
        <a href="/accounts/logout"><button type="button">Log out</button></a>
    </span>
</div>

<div>
<iframe name="base" src="/demo/" width="30%" height="96%"></iframe>
<iframe name="message" src="" width="39%" height="96%"></iframe>
<iframe name="info" src="" width="29%" height="96%"></iframe>
</div>
</div>
		
<div style="display:none;" id="signup" title="Add a new client">
    {{ form }}
</div>

</html>
