<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<title>Encouragement System</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/encouragement.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.20.custom.css" />

        <script src="{{ STATIC_URL }}javascript/jquery-1.7.2.js"></script>
        <script src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="{{ STATIC_URL }}javascript/underscore.js"></script>
        <script src="{{ STATIC_URL }}javascript/backbone.js"></script>
        <!-- <script src="{{ STATIC_URL }}javascript/backbone.queryparams.js"></script> -->
        <script src="{{ STATIC_URL }}javascript/encouragement.js"></script>
        
<script id="tmp_client" type="text/template">
	<div class="name <%= c.study_group %>">
		<div></div>
		<span class="client_id">(#<%=c.id_str %>):</span> <span class="client_name"><%= c.last_name %>, <%= c.first_name %></span>
	</div>
	<div class="left">
		<% if (c.status=="Post-Partum") { %>
			<div class="icon-postpartum"></div>
		<% } %>
		
		<% if (c.last_msg==0) { %>
			Has never responded!
		<% } else { %>
			<% if (c.urgent) { %>
				No reply since <%= dateFormat(c.last_msg,"mmm dd") %>.
			<% } else { %>
				<i>Last SMS</i> <%= dateFormat(c.last_msg,"mmm dd")%>.
			<% } %>
		<% } %>
		<% if (c.pending > 0) { %>
			<div class="pending_msg"><%= c.pending %> unread messages.</div>
		<% } %>
	</div>
	<div class="right">
		<span><%= dateFormat(c.next_visit,"mmm dd") %></span>
		<% if (c.urgent) { %>
			<div class="urgent"></div>
		<% } %>
		<% if (c.pending > 0) { %>
			<div class="pending"></div>
		<% } %>
	</div>
</script>

	</head>
	<body class="container_16">
		<div class="header-bar grid_16">
            <div class="border">
                <span class="title">Encouragement System</span>
                <span class="logout">{% if nurse %}
                    Currently logged in as {{nurse}}
                    <a href="/accounts/logout"><button type="button">Log out</button></a>
					{% endif %}
                </span>
            </div>
		</div>
		<div class="grid_4 list_search">
			<div class="search_bar">
				<span class="search_icon"></span>
				<input class="search" type="text" id="searchtext" placeholder="Search..."/>
				<a href="#add"><span class="addbutton" id="add"></span></a>
				<a href="#visit_history"><span id="visit_history_button"></span></a>
			</div>
	
            <div class="patient_bar">
                <span>
					<!-- make buttons span physical rows so there is no space between them -->
					<button id="two_way" class="selected study_group">
					</button><button id="one_way" class="selected study_group">
					</button><button id="control" class="study_group">
					</button><button id="Post-Partum">
					</button>
				</span>
                <span style="position:relative;top:-5px; left:10px;">
                <!--<div style="display:inline;text-transform:uppercase;">Sort</div>-->
                <select id="sort_select">
					<option value="study_group">Group</option>
					<option value="last_name">Last Name</option>
					<option value="first_name">First Name</option>
					<option value="id">Id</option>
					<option value="next_visit">Next Visit</option>
                </select>
                </span>
                <span id="sort_direction" class="asc"></span>
            </div>
            <div id="patient_list" class="list"></div>
            
		</div>
	<div class="grid_12" id="main_content"></div></div>
	</body>
</html>
