<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<title>Encouragement System</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/encouragement.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.20.custom.css" />

        <script src="{{ STATIC_URL }}javascript/jquery-1.7.2.js"></script>
        <script src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="{{ STATIC_URL }}javascript/encouragement.js"></script>
	</head>
	<body class="container_16">
		<div class="header-bar grid_16">
            <div class="border">
                <span class="title">Encouragement System</span>
                <span class="logout">{% if nurse %}
                    Currently logged in as {{nurse}}
                    <a href="/accounts/logout"><button type="button">Log out</button></a>
					{% endif %}
                </span>
            </div>
		</div>
		<div class="grid_4 list_search">
			<div class="search_bar">
				<span class="search">
					<input type="text" id="searchtext" placeholder="Search..."/>
				</span>
				<span class="addbutton" id="add"></span>
			</div>
	
            <div class="patient_bar">
                <div style="display:inline;text-transform:uppercase;">Filter</div>
                <select id="group_select">
					<option value="3">All</option>
					<option value="2">Two-Way</option>
					<option value="1">One-Way</option>
					<option value="0">Control</option>
                </select>
                <div style="display:inline;text-transform:uppercase;">Sort</div>
                <select id="sort_select">
					<option value="-study_group">Group</option>
					<option value="last_name">Last Name</option>
					<option value="first_name">First Name</option>
					<option value="id">Id</option>
                </select>
                
                <!-- <div style="display:inline;float:right;"><a href="/csv/">Download</a></div>-->
            </div>
            <div id="patient_list" class="list">
				{{patient_list}}
            </div>
            
		</div>
	<div class="grid_12" id="main_content"></div></div>
	</body>
</html>
