<html>
	
	<head>
		<title>List of Clients</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/dropincontentbox.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}javascript/jquery.easing.1.3.js"></script>
        <script src="{{ STATIC_URL }}javascript/dropincontentbox.js"></script>
        <script type="text/javascript"> 
        	function color() {
				$(".person").css("background-color", "rgb(217,233,236)")
			}
			function load(link) {
				color()
				var id = link.id
				parent.message.location='/patient/'+id+'/'
				parent.info.location='/detail/'+id+'/'
				$(link).css("background-color", "rgb(91,141,147)")
			}

			$(document).ready(function() {
				$('#searchtext').bind('keyup', function search(e) {
					var code = (e.keyCode ? e.keyCode : e.which);
					if (code == 27) {
						$('#searchtext').val('');
					}

					var people = $(".person")
					var name = $.trim($("#searchtext").val())

					if (name == '') {
						people.show()
						return
					} else {
						people.hide()
					}

					var lowName = name.toLowerCase()
					$(".person").each(function (i) {
						$(this).show()
						var e = $(this)
						var x = e.find('.name').html().toLowerCase()
						if (x.indexOf(lowName) < 0) {
							e.hide()
						}
					})
				})
			})

			var dropinbox1 = new dropincontentbox({
						   source:'#signup', //#id of DIV to show if defined inline
						   cssclass:'dropinbox dropinboxaltstyle drop-shadow lifted',
						   fx:'easeInExpo', //alternate drop animation keyword
						   pos:[0, -15], //custom position of drop in box
						   deferred: "fullon"
						})
		</script>
	</head>
	<body>
		<div class="header">
			<span class="search">
				<input type="text" id="searchtext"/>
			</span>
			<span class="addbutton" onClick="dropinbox1.show()">Add Client</span>
		</div>
		{% for x in clients %}
		<div class="person" id="{{x.id}}" onClick="load(this)">
			{% if x.pending > 0 %}
			<div class="name pendingname">{{x.first_name}} {{x.last_name}}</div>
			{% else %}
			<div class="name">{{x.first_name}} {{x.last_name}}</div>
			{% endif %}
			<div class="message">{{x.last_message}}</div>
		</div>
		{% endfor %}
		
		<div id="signup">
			<a href="javascript:dropinbox1.hide()">Hide</a>
			<form method="post" action="/add/">
				{% csrf_token %}
				<table>
					{{ form.as_table }}
				</table>
				<div>
					<input type="submit" name="submit" value="Submit" />
				</div>
			</form>
		</div>
	</body>
</html>
