<html>
	<script type="text/javascript"> 
		function load(link) {
			var id = link.id
			parent.message.location='/patient/'+id+'/'
			parent.info.location='/detail/'+id+'/'
		}
	</script>
	<head>
		<title>List of Clients</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/list.css"/>
	</head>
	<body>
		<table border="1">
			<tr>
				<td><a href="/add/">Add Client</a></td>
			</tr>
		</table>
		<h1>All Clients</h1>
		<!--<table border="1">
			<tr>
				<th>ID Number</th>
				<th>Name</h>
				<th>Pending Messages</th>
				<th>Last Message</th>
				<th>Urgent?</th>
			</tr>
		</table>-->
			{% for x in clients %}
			<div class="person">
				<div class="detail"><a id="{{x.id}}" onClick="load(this)" href=#>{{x.id}} {{x.first_name}} {{x.last_name}}</a>
				Pending Messages: {{x.pending}} urgent? {{x.urgent}}
				</div>
				<div class="message">Last Message: {{x.last_msg}}</div>
			</div>
			{% endfor %}
		</table>
	</body>
</html>
