	{% for x in clients %}
    <div class="person" id="{{x.id}}">
       
        <div class="name {{x.study_group}}"><div></div>
            <span class="client_id">(#{{x.id}}):</span> <span class="client_name">{{x.last_name}}, {{x.first_name}}</span>
        </div>
        <div class="left">
            {% if x.pending > 0 %}
                <div>{{x.pending}} unread messages.</div>
            {% endif %}
            {% if x.urgent %}
                <div>No reply since {{x.last_msg}}.</div>
            {% endif %}
        </div>
        <div class="right">
			<span>{{ x.next_visit|date:"M dS" }}</span>
            {% if x.urgent %}
                <div class="urgent"></div>
            {% endif %}
            {% if x.pending > 0 %}
                <div class="pending"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

