<div class="list">
	{% for x in clients %}
    <div class="person" id="{{x.id}}">
        {% if x.pending > 0 %}
            <div class="name pendingname">
        {% else %}
            <div class="name">
        {% endif %}
            <div>{{x.first_name}} {{x.last_name}}</div>
            {% if x.pending > 0 %}
                <div class="pending"></div>
            {% endif %}
            {% if x.urgent %}
                <div class="urgent"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
