<html>
	
	<head>
		<title>List of Clients</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.20.custom.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/dropincontentbox.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript"> 
        	function color() {
				$(".person").css("background-color", "rgb(217,233,236)")
				$(".person").css("color", "rgb(0,0,0)")
			}

			function load(link) {
				color()
				var id = link.id
				parent.message.location='/patient/'+id+'/'
				parent.info.location='/detail/'+id+'/'
				$(link).css("background-color", "rgb(91,141,147)")
				$(link).css("color", "rgb(217,233,236)")
			}

			$(document).ready(function() {
                var people = $('.person');
                var timer = undefined;
                var processor = undefined;
                function filter() {
                    if (processor) {
                        clearInterval(processor);
                    }
                    var busy = false, i = 0, step=10;
					var name = $.trim($('#searchtext').val()).toLowerCase();
                    processor = setInterval(function() {
                        if (!busy) {
                            busy = true;
                            var divs = people.slice(i, i + step);
                            divs.each(function (num) {
                                $(this).show();
                                var e = $(this);
                                var x = e.find('.name').html().toLowerCase();
                                if (x.indexOf(name) < 0) {
                                    e.hide();
                                }
                            });
                            i += step;
                            if (i >= people.length) {
                                clearInterval(processor);
                            }
                            busy = false;
                        }
                    }, 1);
                }

                $('#searchtext').bind('keyup', function(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == 27) {
                        // Clear on escape
                        $('#searchtext').val('');
                    }
                    filter();
                });
            });

            var $jParent = window.parent.jQuery.noConflict();
            var addClient = $jParent('#signup');
		</script>
	</head>
	<body>
		<div class="header">
			<span class="search">
				<input type="text" size=30 id="searchtext"/>
			</span>
			<span class="addbutton" id="add" onClick="addClient.dialog('open');">Add Client</span>
		</div>
		{% for x in clients %}
		<div class="person" id="{{x.id}}" onClick="load(this)">
			{% if x.pending > 0 %}
			<div class="name pendingname">{{x.first_name}} {{x.last_name}}</div>
			<div class="message">{{x.last_message}}</div>
			{% else %}
			<div class="name">{{x.first_name}} {{x.last_name}}</div>
			<div class="message nonpending">{{x.last_message}}</div>
			{% endif %}
		</div>
		{% endfor %}
	</body>
</html>
