	{% for x in clients %}
	<a href="#client/{{x.id}}">
    <div class="person" id="{{x.id}}">
       
        <div class="name {{x.study_group.name}}"><div></div>
            <span class="client_id">(#{{x.id|stringformat:"03i"}}):</span> <span class="client_name">{{x.last_name|capfirst}}, {{x.first_name|capfirst}}</span>
        </div>
        <div class="left">
            {% if x.urgent %}
            <div class="urgent_msg">
				{% if not x.last_msg_client %}
					Has never responded!
				{% else %}
                No reply since {{x.last_msg_client|date:"M d"}}.
                {% endif %}
                </div>
            {% endif %}
            {% if x.pending > 0 %}
                <div class="pending_msg">{{x.pending}} unread messages.</div>
            {% endif %}
        </div>
        <div class="right">
			<span>{{ x.next_visit|date:"M dS" }}</span>
            {% if x.urgent %}
                <div class="urgent"></div>
            {% endif %}
            {% if x.pending > 0 %}
                <div class="pending"></div>
            {% endif %}
        </div>
    </div>
    </a>
    {% endfor %}

