<html>
    <head>
        <title>Log in to Encouragement System</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" />
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Encouragement system</h1>
                </div>
            </div>

            <div id="content" class="colM">
                <form method="post" action="{% url django.contrib.auth.views.login %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Log in" />
                    <input type="hidden" name="next" value="/" />
                </form>
            </div>

            <div id="footer" />
        </div>
    </body>

</html>
