{% load patient_tags %}
<script>
	$(document).ready(function(){
		$('.messagetable td .content').on('click', function(e) {

			if ($(this).css("white-space") == "nowrap") {
				$(this).css("white-space", "normal");
			} else {
				$(this).css("white-space", "nowrap");
			}
		});
	});
</script>
<table class="messagetable">
	<tr>
		<th>Date</th>
		<th>From</th>
		<th>Message</th>
	</tr>
	{% for x in messages %}
	<tr class="{% cycle 'light' 'dark' %}">
		<td>{{x.date|date:"SHORT_DATE_FORMAT"}}</td>
		{% if x.hasphoneattr %}
		<td class="sender">Phone Log</td>
		{% else %}
		<td class="sender">{{x.message.sent_by}}</td>
		{% endif %}
		<td><div class="content">{{x.content}}</div></td>
	</tr>
	{% endfor %}
</table>