{% load patient_tags %}

{% for x in messages %}
	{% if x.hasphoneattr %}
	<div class="Phone {% if x.phonecall.duration == 0 %}missed{% endif %}">
		<div class="top">
			{% if x.phonecall.duration != 0 %}You called:{% else %}Missed Call{% endif %}
		<span class="date">{{x.date}}<br/><span style="float:right">{{x.phonecall.reason }}</span></span></div>
		<div class="content">{{x.content}}</div>
	</div>
	{% else %}
	<div class="{{x.message.sent_by}}">
		{% if x.message.sent_by == "Client" %}
		<div class="top">{{client}}:<span class="date">{{x.date}}</span></div>
		<div class="prompted"  {% if x.message.prompted %} style="font-weight:bold" {% endif %}>Prompted: 
			<input {% if x.message.prompted %} checked {% endif %} rel="{{x.id}}" type="checkbox"/>
		</div>
		{% else %}
		<div class="top">{% if x.user_id %}{{x.user_id}}{% else %}System{% endif %}:<span class="date">{{x.date}}</span></div>
		{% endif %}
		<div class="content">{{x.content}}</div>
	</div>
	{% endif %}
{% endfor %}

