<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<title>Encouragement System</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/encouragement.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.all.css">
        <script src="{{ STATIC_URL }}javascript/jquery-1.7.2.js"></script>
        <script src="{{ STATIC_URL }}javascript/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="{{ STATIC_URL }}javascript/encouragement.js"></script>
	</head>
	<body class="container_16">
		<div class="header-bar grid_16">
            <div class="border">
                <span class="title">Encouragement System</span>
                <span class="logout">{% if nurse %}
                    Currently logged in as {{nurse}}
                    <a href="/accounts/logout"><button type="button">Log out</button></a>
					{% endif %}
                </span>
            </div>
		</div>
		<div class="grid_4 list_search">
			<div class="search_bar">
				<span class="search">
					<input type="text" id="searchtext" placeholder="Search..."/>
				</span>
				<span class="addbutton" id="add"></span>
			</div>
	
            <div class="patient_bar">
                <div style="display:inline;text-transform:uppercase;">Patient List</div>
                <div style="display:inline;float:right;"><a href="/csv/">Download</a></div>
            </div>
            <div id="group-tabs">
				<ul class="tabs">
					<li class="tab-two-way"><a href="#" class="defaulttab tab" rel="tab-two-way">Two Way</a></li>
					<li class="tab-one-way"><a href="#" class="tab" rel="tab-one-way">One Way</a></li>
					<li class="tab-control"><a href="#" class="tab" rel="tab-control">Control</a></li>
				</ul>
				<div class="tab-content" id="tab-two-way">
					Two way
				</div>
				<div class="tab-content" id="tab-one-way">
					One way
				</div>
				<div class="tab-content" id="tab-control">
					Control
				</div>
            </div>
            <div class="client_list">
			    {{listf}}
            </div>
		</div>
	<div class="grid_12" id="main_content">
		</div>
   		<div style="display:none;" id="signup" title="Add a new client">
       	{{ form }}
   		</div>
	</body>
</html>
