{% load patient_tags %}

<table>
    <form id="add_visit_form" method="post" action="">
        {% csrf_token %}
            {% for field in form %}
                <tr>
                    <td>
                        {{ field.label_tag }}{% if field.errors %} <span class="errors"><span class="collapse">({{ field.errors }})</span></span>{% endif %}
                    </td>
                    <td>
                        {% if field.field|klass == "DateField" %}
                            <div class="date">{{ field }}</div>
                        {% else %}
                            <div>{{ field }}</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        <div class="errors">
            {{ form.non_field_errors }}
        </div>
        <tr><td colspan="2">
			<span id="add_visit" class="gray_button">Add</span>
			{% if client.pregnancy_status != "Post-Partum" %}
			<span id="delivery" class="gray_button">Pregnacy Over</span>
			{% endif %}
			</td></tr>
    </form>
</table>
